[Unit]
After=network-online.target
Requires=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/mynethelptest
Restart=on-failure
RestartSec=5s

ProtectHome=true
ProtectSystem=strict
ReadWritePaths=/usr/local/lib/mynethelptest/

[Install]
WantedBy=multi-user.target

# vim:ft=systemd
